<a href="https://colab.research.google.com/github/will0wee/PythonNoSQL/blob/master/KPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

test

In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv('resto.csv')

##Les 10 premières ligne du dataset
data.head(10)

##La taille de notre dataset
data.size

#Les colonnes de notre dataset
data.columns

##Récupère la ligne avec l'item le plus commandé
data2 = data.groupby('item_name').quantity.count()
maxi = data2.max()  ##cb de fois l'item a été commandé
item_commander = data2[data2 == maxi].index[0]
print("Item le plus commandé :", item_commander)

##Total d'item commandé
total = 0
for com in data2:
  total += com

print("Total d'item commandé :", total)

##Chiffre d'affaire
CA = 0
for index, row in data.iterrows():
  CA += row['quantity'] * float(row['item_price'][1:])

print("Chiffre d'affaire : ",CA,"$")

#Moyenne de commande :
commandes = []
for index, row in data.iterrows():
  commandes.append(row['quantity'] * float(row['item_price'][1:]))

moy = np.mean(commandes)
print("Moyenne de commande :", moy,'$')

Item le plus commandé : Chicken Bowl
Total d'item commandé : 4622
Chiffre d'affaire :  39237.020000000055 $
Moyenne de commande : 8.48918649935093 $

In [41]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('resto.csv')

##Les 10 premières ligne du dataset
data.head(30)

    Unnamed: 0  ...  item_price
0            0  ...      $2.39
1            1  ...      $3.39
2            2  ...      $3.39
3            3  ...      $2.39
4            4  ...     $16.98
5            5  ...     $10.98
6            6  ...      $1.69
7            7  ...     $11.75
8            8  ...      $9.25
9            9  ...      $9.25
10          10  ...      $4.45
11          11  ...      $8.75
12          12  ...      $8.75
13          13  ...     $11.25
14          14  ...      $4.45
15          15  ...      $2.39
16          16  ...      $8.49
17          17  ...      $8.49
18          18  ...      $2.18
19          19  ...      $8.75
20          20  ...      $4.45
21          21  ...      $8.99
22          22  ...      $3.39
23          23  ...     $10.98
24          24  ...      $3.39
25          25  ...      $2.39
26          26  ...      $8.49
27          27  ...      $8.99
28          28  ...      $1.09
29          29  ...      $8.49

[30 rows x 6 columns]